@charset "utf-8";
*{margin: 0; padding: 0;}

img{
	width: 100%;
}

#spitem{
	float: left;
	width: 100%;
	height: 200px;
	margin: 50px auto;
}

#iimg{
	width: 300px;
	height: 200px;
	left: 100px;
	position: absolute;
}

#idetail{
	width: 400px;
	height: 200px;
	left: 450px;
	position: absolute;
}

#iback{
	width: 400px;
	height: 200px;
	right: 100px;
	position: absolute;
}

#ibimg{
	width: 200px;
	height: 50px;
	right: 30px;
	position: absolute;
}

#ibindex,#topay{
	margin-right: 30px;
	width: 120px;
}
#ibtn{
	position: absolute;
	right: 0;
	bottom: 0;
}
#scount{
	position: absolute;
	right: 33px;
	bottom: 50px;
}
#scount span{
	color: #003399;
}