@charset "utf-8";

*{margin: 0;padding: 0;}
.react-success {
	width:300px;
	height:100px;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(50%,50%);
	background-color:rgba(119,136,153,0.6);
	z-index:99;
}
.react-success img{
   width:200px;
   height:50px;
   margin:25px 50px;
   opacity: 1;
}
#head {
	width: 100%;
	height: 200px;
}

#wrap{
	width: 700px;
	height: 500px;
	position: relative;
}

#c {
	width: 1000px;
	height: 400px;
	float: left;
	left: 100px;
	margin: 50px auto;
	position: relative;
}

#cimg {
	width: 500px;
	height: 280px;
	position: absolute;
}

#cimg img {
	top: 40%;
	width: 100%;
	height: 100%;
	position: absolute;
}

#detail {
	width: 600px;
	height: 400px;
	left: 550px;
	position: absolute;
}

#title {
	font-size: 22px;
}

#price,#crisis {
	position: absolute;
	left: 5%;
	margin: 10px auto;
	width: 100%;
}

#price {
	top: 13%;
}

#crisis {
	top: 35%;
}

#price span:nth-of-type(2){
	color: #003399;
	font-size: 30px;
	font-weight: 600;
}
#price span:nth-of-type(3) {
	color: #003399;
	font-size: 40px;
	font-weight: 700;
}

#pass {
	text-decoration: line-through;
}

#buycount {
	position: absolute;
	top: 58%;
	width: 100%;
	float: left;
}

#a {
	width: 90px;
	height: 40px;
	left: 0;
	top: 5px;
	position: absolute;
}

#b {
	position: absolute;
	left: 90px;
}

#b input {
	width: 50px;
	height: 40px;
	text-align: center;
}

#d {
	position: absolute;
	left: 150px;
	width: 30px;
	height: 40px;
}

#add {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0;
	background: url(../img/add.png) no-repeat 50% 50%;
}

#sub {
	width: 15px;
	height: 15px;
	position: absolute;
	bottom: 0;
	background: url(../img/sub.png) no-repeat 40% 50%;
}

#choice {
	position: absolute;
	top: 77%;
}
#choice img{
	width: 25px;
	height: 20px;
}
#addCart {
	margin-right: 30px;
	width: 150px;
}

#buy {
	margin-right: 30px;
	width: 150px;
}

#promise {
	position: absolute;
	bottom: 0;
}

#promise img {
	width: 302px;
	height: 36px;
}
#e{
	height: 100px;
}

.like{ 
	font-size: 20px;
	color: #ccc;
	cursor: pointer;
}
.cs{
	color:#f00;
}
.cleanfloat::after{
	display: block; 
	clear: both; 
	content: ""; 
	visibility: hidden; 
	height: 0;
}
ul li{
	list-style: none; 
	float: left; 
	font-size: 20px; 
	margin: 5px; 
	color: #ccc; 
	cursor: pointer;
}
.hs,.ss{
	color: gold;
}

#collimg span{
	line-height: 25px;
}
#coll{
	position: absolute;
	left: 100px;
	width: 100px;
	height: 100px;
}
#share{
	position: absolute;
	left: 210px;
	width: 100px;
	height: 100px;
}
#help{
	position: absolute;
	left: 320px;
	width: 100px;
	height: 100px;
}
#e img{
	width: 30px;
	height: 30px;
}
#shareimg span:hover,#helpimg span:hover{
	color: dodgerblue;
}

#shareapp,#helpapp{
	width: 100px;
	height: 50px;
	opacity: 0;
}
#shareimg:hover div{
	opacity: 1;
}
#helpimg:hover div{
	opacity: 1;
}


#f{
	width: 1150px;
	margin: 30px auto;
	position: relative;
}